<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link th:rel="icon" th:href="@{/img/senai.png}" />
    <link th:rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
    <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container">

    <div class="jumbotron mt-5">
        <h1 class="display-4">Agenda</h1>
        <p class="lead">Senai - 2020</p>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">

            <form method="post" th:action="@{/contatos}" th:object="${contato}">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label>Nome</label>
                    <input type="text"
                           class="form-control"
                           maxlength="30"
                           th:field="*{nome}"
                           name="nome">
                </div>

                <div class="form-group">
                    <label>Fone</label>
                    <input type="text"
                           class="form-control"
                           maxlength="15"
                           th:field="*{fone}">
                </div>

                <div class="form-group">

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block">
                            <span>
                                <i class="fas fa-save"></i>
                                Salvar
                            </span>
                            </button>
                        </div>

                        <div class="col-6">
                            <button type="reset" class="btn btn-danger btn-block">
                            <span>
                                <i class="fas fa-redo-alt"></i>
                                Limpar
                            </span>
                            </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
        <div class="col-12 col-md-8">

            <table class="table table-striped table-hover">

                <thead>

                <tr>

                    <th>#</th>
                    <th>nome</th>
                    <th>fone</th>
                    <th>ações</th>

                </tr>


                </thead>

                <tbody>

                <tr th:each="contato : ${contatos}">

                    <td th:text="${contato.id}">id</td>
                    <td th:text="${contato.nome}">nome</td>
                    <td th:text="${contato.fone}">fone</td>
                    <td>
                        <a th:href="@{/contatos/{id}/editar(id=${contato.id})}" class="btn btn-sm btn-primary">
                            <span>
                                <i class="fas fa-pen"></i>
                            </span>
                        </a>
                        <a th:href="@{/contatos/{id}/remover(id=${contato.id})}" class="btn btn-sm btn-danger">
                            <span>
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </td>
                </tr>


                </tbody>

            </table>

        </div>
    </div>

</div>

<script th:src="@{/jquery/jquery.js}"></script>
<script th:src="@{/jquery/jquery.mask.js}"></script>
<script th:src="@{/js/javascript.js}"></script>

</body>
</html>