<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">

</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-4">

                <form method="post" th:object="${contato}" th:action="@{/agenda}">

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" th:field="*{nome}" name="nome" id="nome" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="fone">Fone</label>
                        <input type="text" th:field="*{fone}" name="fone" id="fone" class="form-control">
                    </div>

                    <div class="form-group">

                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i>Salvar
                        </button>
                        <button type="reset" class="btn btn-danger">LIMPAR</button>

                    </div>


                </form>

            </div>
            <div class="col-8">

                <table class="table table-striped table-hover">

                    <thead>

                        <tr>

                            <th>#</th>
                            <th>nome</th>
                            <th>fone</th>
                            <th>ações</th>

                        </tr>


                    </thead>

                    <tbody>

                        <tr th:each="contato : ${contatos}">

                            <td th:text="${contato.id}">id</td>
                            <td th:text="${contato.nome}">nome</td>
                            <td th:text="${contato.fone}">fone</td>
                            <td>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i>editar
                                </button>

                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-save"></i>remover
                                </button>

                            </td>

                        </tr>



                    </tbody>

                </table>

            </div>
        </div>

    </div>

</body>
</html>